version: "3.9"

services:
  backend:
    build:
      context: .
      target: dev
    container_name: menu-tree-backend
    ports:
      - "30000:30000"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    command: npm run start:dev
